{{ define "main" }}

<main>
  <a href="{{ .Site.BaseURL }}cv/goldring_cv_nov18.pdf">PDF copy of my resume</a>

  <h1>Academic Position</h1>
  <p><span class="resume-year">2017&ndash;</span>Postdoctoral Fellow, University of Michigan<br>
  <span class="resume-year">&nbsp;</span>Education Policy Initiative, Ford School of Public Policy</p>
  
  <h1>Education</h1>
  <p><span class="resume-year">2017</span>Carnegie Mellon University<br>
  <span class="resume-year">&nbsp;</span>Ph.D. in Public Policy and Management, Heinz College</p>

  <p><span class="resume-year">2016</span>Carnegie Mellon University<br>
  <span class="resume-year">&nbsp;</span>M.Phil. in Public Policy and Management, Heinz College</p>

  <p><span class="resume-year">2006</span>University of Cambridge<br>
  <span class="resume-year">&nbsp;</span>B.A. in Economics</p>

  <h1>Publications</h1>
  <p><span class="resume-year">2016<br>&nbsp;<br>&nbsp;</span>"Testing for changes in the SES-mortality gradient when the distribution of education changes too" (with Fabian Lange and Seth Richards-Shubik), Journal of Health Economics, 46: 120-130.</p>

  <h1>Working Papers</h1>
  <p><span class="resume-year">2018<br>&nbsp;</span>"Teacher attrition in relation to comparable professions: Evidence from a repeated cross-sectional design."</p>

  <p><span class="resume-year">2017<br>&nbsp;</span>"The intra-district effect of educational accountability on school finance under No Child Left Behind."</p>

  <p><span class="resume-year">2017</span>"The causal impact of graduation rate accountability under No Child Left Behind."</p>

  <h1>Work In Progress</h1>
  <p><span class="resume-year">&nbsp;<br>&nbsp;</span>"An analysis of a change to the state funding structure of CTE in Michigan: Patterns in enrollment, progression, course-taking, and outcomes" (with Brian Jacob).</p>

  <p><span class="resume-year">&nbsp;<br>&nbsp;</span>"The evolution of inequality in U.S. postsecondary degree completion" (with Sue Dynarski and Elizabeth Burland).</p>

  <h1>Grants and Awards</h1>
  <p><span class="resume-year">2016</span><span class="resume-item">Outstanding Teaching Assistant Award, Heinz College</span><br>
  <span class="resume-year">2012-16</span>PIER Predoctoral Fellowship, Institute of Educational Sciences<br>
  <span class="resume-year">2011-16</span>Graduate Fellowship, Carnegie Mellon University</p>

  <h1>Presentations</h1>
  <p><span class=resume-year>2018</span>Michigan CTE regional leaders (Michigan State University), University of Michigan<br>
  <span class="resume-year">2017</span>AEFP<br>
  <span class="resume-year">2016</span>AEFP, Midwest Economics Association, Carnegie Mellon University</p>

  <h1>Teaching</h1>
  <p><b>Instructor</b><br>
  <span class="resume-year">2014-16</span>Fundamentals of Quantitative Methods</p>
  
  <p><b>Teaching Assistant</b><br>
  <span class="resume-year">2016</span>Introductory Statistical Methods (masters)<br>
  <span class="resume-year">2016</span>Applied Economic Analysis (microeconomics, masters)<br>
  <span class="resume-year">2013-16</span>Management Science (masters)<br>
  <span class="resume-year">2015</span>Econometric Theory and Methods (doctoral)<br>
  <span class="resume-year">2012-14</span>Applied Econometrics (masters)<br>
  <span class="resume-year">2014</span>Intermediate Statistical Methods (masters)</p>

</main>

{{ end }}