{{ define "main" }}

<main>
  <p><a href="{{ .Site.BaseURL }}cv/goldring_cv_nov18.pdf">PDF copy of my resume</a></p>

  <h1>Academic Position</h1>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2017&ndash;</div>
    <div>Postdoctoral Fellow, University of Michigan<br>Education Policy Initiative, Ford School of Public Policy</div>
  </div>

  <h1>Education</h1>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2017</div>
    <div>Carnegie Mellon University<br>PhD, Public Policy and Management</div>
  </div></p>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2016</div>
    <div>Carnegie Mellon University<br>MPhil, Public Policy and Management</div>
  </div></p>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2006</div>
    <div>University of Cambridge<br>BA, Economics</div>
  </div></p>

  <h1>Publications</h1>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2016</div>
    <div>"Testing for changes in the SES-mortality gradient when the distribution of education changes too"<br>(with Fabian Lange and Seth Richards-Shubik)<br>Journal of Health Economics, 46: 120-130</div>
  </div></p>

  <h1>Working Papers</h1>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2018</div>
    <div>"Teacher attrition in relation to comparable professions: Evidence from a repeated cross-sectional design"</div>
  </div></p>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2018</div>
    <div>"The intra-district effect of educational accountability on school finance under No Child Left Behind"</div>
  </div></p>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item">2017</div>
    <div>"The causal impact of graduation rate accountability under No Child Left Behind"</div>
  </div></p>

  <h1>Work In Progress</h1>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item"></div>
    <div>"The utilization and quality of Career and Technical Education: Evidence from a funding change in Michigan"<br>(with Brian Jacob and Daniel Kreisman)</div>
  </div></p>
  <p><div class="resume-flex-container">
    <div class="resume-flex-item"></div>
    <div>"The evolution of inequality in U.S. postsecondary degree completion"<br>(with Sue Dynarski and Elizabeth Burland)</div>
  </div></p>

  <h1>Grants and Awards</h1>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2016</div>
    <div>Outstanding Teaching Assistant Award, Heinz College</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2012-16</div>
    <div>PIER Predoctoral Fellowship, Institute of Educational Sciences</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2011-16</div>
    <div>Graduate Fellowship, Carnegie Mellon University</div>
  </div>

  <h1>Presentations</h1>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2018</div>
    <div>Michigan CTE regional leaders (Michigan State University), University of Michigan</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2017</div>
    <div>AEFP</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2016</div>
    <div>AEFP, Midwest Economics Association, Carnegie Mellon University</div>
  </div>

  <h1>Teaching</h1>
  <p><b>Instructor</b><br>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2014-16</div>
    <div>Fundamentals of Quantitative Methods</div>
  </div></p>

  <p><b>Teaching Assistant</b><br>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2016</div>
    <div>Introductory Statistical Methods (masters)</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2016</div>
    <div>Applied Economic Analysis (microeconomics, masters)</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2013-16</div>
    <div>Management Science (masters)</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2015</div>
    <div>Econometric Theory and Methods (doctoral)</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2012-14</div>
    <div>Applied Econometrics (masters)</div>
  </div>
  <div class="resume-flex-container">
    <div class="resume-flex-item">2014</div>
    <div>Intermediate Statistical Methods (masters)</div>
  </div></p>

</main>

{{ end }}